<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Notícias</title>
	</head>
	<body>
		<h1>Notícias!</h1>

		<% noticias.forEach(function(noticia) { %>
			<article class="noticia">
				<h2><%= noticia.titulo%></h2>
				<p><%= noticia.noticia%></p>
			</article>
		<% }); %>
	</body>
</html>